/*GLOBAL*/
body {
    margin: 0;
    padding: 0; 
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000; 
    background-color: white;
    width: 100%;
    height:auto;
}

img { max-width: 100%;
}

/*убираем подчеркивание у ссылок*/
a {text-decoration: none;}

html {box-sizing: border-box;}
::before, *::after {box-sizing: inherit;}

/*прячем ненужные элементы*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;}

/*HEADER*/
/*логотип*/
.main-navigator .logo {
    padding-left: 5px;
    color: rgb(40,49,54);
}

/*текст*/
.main-navigator a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: black;
    margin: 0;
}

/*кнопки-ссылки с белым текстом*/
.texts {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color:white;}

/*удаление маркеров и внешних отступов у списков*/
.site-navigation {
    list-style: none;}

.main-navigator img {
    margin-top: 53px; 
}

/*контейнер*/
.main-navigator ul {
    margin-left: 160px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    width: 800px;
}

.site-navigation li {
    margin-right: 45px;
    margin-top: 80px;
    text-transform: uppercase;
}

/*корзина*/
.site-navigation .last {
    margin-left: auto;
    flex-grow: 0;}

/*делаю контейнером все навигационное меню вместе с логотипом*/
.main-navigator {
    background-color: rgb(238,238,238);
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

/*MAIN*/
/* SLIDER*/
.advertising-poster {
    width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: #eeeeee;
}

.slider {
    display: none;
    padding: 78px 0 80px 0;
}
/*Переключение слайдеров*/
.advertising-poster-1 {
    display:  block;}

/*фон для слайдеров*/
.advertising-poster-1 {
   
    background-image: url("../img/slider1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.advertising-poster-2 {
   
    background-image: url("../img/slider2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.advertising-poster-3 {
    
    background-image: url("../img/slider3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

/*переключатель слайдеров-кружочки*/
.wrapper .key {
    
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 8px;  
  padding: wrapperpx;  
  border-radius: 50%;
  cursor: pointer;
}

.wrapper .key::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;  
  width: 18px;
  height: 18px;
  
  background: #ffffff;
  border-radius: 50%;  
}
.wrapper {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  
  width: 160px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}
/*активный переключатель*/
.wrapper .active::before {
  content: "";
  
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  
  width: 4px;
  height: 4px;
  margin: -4px;
  
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
   
/*текст*/
.slider b {
    max-width: 376px;
    margin: 0;
    
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color:black;}

.advertising-poster p {
    max-width: 361px;
    margin: 0;
    margin-top: 27px;
    margin-bottom: 38px;
    color: rgb(40,49,54);}

/*кнопка-узнать больше*/
.texts {
  display: block;
  width: 240px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.texts:hover,
.texts:focus {
  background-color: #e74246;
}

.texts:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*веб-сайты, приложения, презентации*/
.offers .service {
    width: 1200px;
    margin: 0 auto;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 80px;
    box-sizing: border-box;
}
.offers li {
    max-width: 300px;    
}
.offers p {
    margin-bottom: 40px; 
}
.offers h3 {
    text-transform: uppercase;    
;}

/*кнопки-ссылки "заказать"*/
.text {
  margin-bottom: 80px;  
  display: block;
  width: 160px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  border-radius: 3px;
  border: none;  
}
.red {background-color: #fb565a;}
.red:hover,
.red:focus {
  background-color: #e74246;
}

.red:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.green {background-color: rgb(0,202,116);}
.green:hover,
.green:focus {
  background-color: #00bc6c;
}

.green:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #00aa62;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}
.yellow {background-color: rgb(239,200,74);}
.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}

.yellow:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #e5a722;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

 /*заголовки*/   
.offers h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

/*текст*/
.offers p {
    color: rgb(40,49,54);}

/*удаление маркеров и внешних отступов у списков*/
.offers {
    list-style: none;}

.offers ul {
    margin: 0;
     

}

/*секция "о нас"*/
/*удаление маркеров и внешних отступов у списков*/
.amenities {
    list-style: none;}
.amenities ul {
    margin: 0;
    margin-bottom: 0px;
}

.about-us {
    box-sizing: border-box;
    padding: 66px 20px 75px;
}

/*текст*/
.we-studio b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: black;
}
.we-studio {
    padding-bottom: 35px;
}
.amenities p {
    margin: 0;
    padding-bottom: 35px;
}

.principle p {
    color: rgb(40,49,54);
    padding-bottom: 45px;
}

.order {
    font-weight: 700;
    color: black;
    margin: 0;
    padding-bottom: 35px;
}

/*фон nёrd's*/
.picture {
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-size: 360px 208px;
    width: 360px;
    height: 208px;
    padding-bottom: 10px;
}

/*С 2004 года любим точность во всем*/
.formula {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: black;
    margin: 0;
    padding-bottom: 35px;
    text-transform: uppercase;
}

/* % % % */
.numbers span {
    font-size: 45px;
    line-height: 10px;
    font-weight: 700;
    color: black;}

.numbers p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(40,49,54);
    padding-top: 25px;
    margin: 0;
}

/*секция Партнеры*/
/*удаление маркеров и внешних отступов у списков*/
.partners {
    list-style: none;
    padding: 0;}
.partners ul {
    margin: 45px 0;
}

/*FOOTER*/
/*текст*/
.address {
    font-style: normal;}

.address b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

.position,
.tel {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(102,102,102);}





/*кнопка-ссылка "напишите нам", красный фон*/
.location a {
    background-color: rgb(251,86,90);}

.location a {
  display: block;
  width: 220px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  border-radius: 3px;
  border: none;  
}
.location a {background-color: #fb565a;}
.location a:hover,
.location a:focus {
  background-color: #e74246;
}

.location a:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}




/*Модальное окно*/
.modal-letter h2 {
    margin: 0;
    margin-bottom: 40px;
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: black;
    
}
    
.modal-letter label {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: black;
}

.name-email {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}
.name-email label{
    margin-right: 40px;
}

.modal-letter input[type="text"],
.modal-letter input[type="email"] {
    box-sizing: border-box;
    width: 360px;
    height: 50px;
    padding: 15px 15px;
    padding-right: 15px;
    font: inherit;
    color: #000000;
}

.modal-letter textarea {
    box-sizing: border-box;
    width: 760px;
    height: 120px;
    padding: 15px 15px;
    padding-right: 15px;
    font: inherit;
    color: #000000;
}
  
.close {
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: transparent;/*прозрачность*/
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 70px;
  right: 80px;
}

.close::before,  /*псевдоэлем*/
.close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: #d0d0d0;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

/*Модальное окно. Всплывающая форма.*/
/*.modal {display: none;}*/
.modal {
    width: 960px;
    height:590px;
    color: black;
    position:absolute;
    bottom: -1000px;
    left: 50%;
    margin-left: -480px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-letter {
    padding-left: 100px;
    padding-top: 70px;
    padding-bottom: 85px;
}

/*кнопка-ссылка "отправить", красный фон*/
.send {
    width: 260px;
    height: 50px;
    background-color: rgb(251,86,90);
    cursor: pointer;
    position: absolute;
    bottom: 85px;
    left: 100px;
}

.send {
  display: block;
  width: 260px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  border-radius: 3px;
  border: none;  
}
.send {background-color: #fb565a;}
.send:hover,
.send:focus {
  background-color: #e74246;
}

.send:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d7373b;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}




/*Див link (мы в сетях)*/
/*удаление маркеров и внешних отступов у списков*/
.link {
    list-style: none;}
.link ul {
    margin: 0;}

.link b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: black;}

.link p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(68,68,68);}







/*СТИЛИ КАТАЛОГА*/
/*HEADER*/
.under {
    font-size: 32px;
    line-height: 60px;
    font-weight: 500;
    color: black;}

 /*MAIN*/
/*сетка: особенности: сортировать:*/
.choice {   
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 49px;
    
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;}

.choice label {
    margin-top: 20px;
    font-size: 16px;
    line-height: 20px;
    text-transform: none;
}


/*Кнопка ПОКАЗАТЬ*/
.show {
  display: block;
  width: 260px;
  padding: 13px 0;
  
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
  border-radius: 3px;
  border: none;  
}
.show {background-color: #eeeeee;}
.show:hover,
.show:focus {
  background-color: #dfdfdf;
}

.show:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #d5d5d5;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}    






/*Форма цены. Шкала.*/
.filter-price {
    margin: 0;
    padding: 0;
    border: none;
    margin-bottom: 58px;
}

.range-filter {
    width: 260px;
    margin-top: 49px;
}

.filter-price legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
}

.range-controls {
    position: relative;
    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0; 
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.price-controls {
  font-size: 0;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}





/*сортировать:*/
/*удаление маркеров и внешних отступов у списка*/
.tuning {
    list-style: none;
}

/*СОРТИРОВАТЬ:*/
.tuning {
    display: flex;
    flex-direction:row;
    outline: 2px solid purple;
    width: 680px;
    padding: 0;
    justify-content: space-between;
}

.tuning ul {
    margin: 0;}

.tuning ul {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: black;}


/*КАРТОЧКА ТОВАРА*/
/*удаление маркеров и внешних отступов у карточек*/
.list ul {list-style: none;}


.a-img strong {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

.a-img p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(102,102,102);}

/*кнопка-ссылка "9900 руб" белый текст, красный фон*/
.a-img button {
    background-color: rgb(251,86,90);}

/*Пагинатор*/
/*удаление маркеров и внешних отступов у карточек*/
.pagination-list ul {list-style: none;}
.pagination-list li {margin: 0;}

.pagination-list a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: black;
    background-color: rgb(238,238,238);}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: rgb(223,223,223);}

.pagination-item-current a {
    color: black;
    background-color: rgb(213,213,213);}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: rgb(113,113,113);
    background-color: rgb(213,213,213);}




/*РАСПОЛОЖЕНИЕ БЛОКОВ*/


/*MAIN*/
/*видимый слайдер*/

/*фон слайдера*/
.advertising-poster {
    background-position: left 400px top 0px;
    width: 1200px;
    margin: 0 auto;
    }

/*список с услугами*/
.offers ul {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

/*центруем оставшуюся часть main*/
.midle {
    width: 1200px;
    margin: 0 auto;
}

/*блок "о нас"*/
.amenities ul {
    padding: 0; 
}

.sign div {
    text-align: center;
}

.numbers {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;    
}

/*"о нас" - общий контейнер*/
.about-us {
    display: flex;
    justify-content: space-between;
}

.partners ul {
    display: flex;
    padding: 0;
    justify-content: space-around;
}

/*адрес*/
/*родитель*/
.relative {
    position: relative;
    width: 1440;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 0 auto;
    height: auto;
    min-width: 1200px;
}

.map {
    line-height: 0;
    width: 100%;
    height: auto;
    margin-top: 85px
}

.address {
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 325px;
    height: 310px;
    text-align: left;
    box-sizing: border-box;
    background-color: white;
    padding: 50px;
    
  /*позиционирование адресного окна*/ 
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -835px;
    right: 0;   
}
/*адресное окно внутри*/
.name {
    text-transform: uppercase;}

/*мы в сетях - общий блок*/
.link {
    display: flex;
    justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.net {
    width:400px;
    padding: 70px 0;
}
.bottom {
    width:780px;
    padding: 75px 0;
    margin: 0;
}


/*КАТАЛОГ*/
/*продолжение фона header*/
.header {
    outline: 2px solid violet;
    background-color: rgb(238,238,238);
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 55px;
}



/*форма фильтр отдельными блоками*/
.choice {
    display: flex;
    width: 260px;
    outline: 2px solid blue;
    padding: 0;
}

/*форма tuning*/
.tuning {
    display: flex;
    flex-direction:row;
    outline: 2px solid purple;
    width: 680px;
    padding: 0;
    justify-content: space-between;
}

.grow {
    margin-left: auto;
}

/*сайты*/
.list ul {
    display: flex;
    flex-direction: row;
    outline: 2px solid fuchsia;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 760px
}

.list li {
    width: 360px;
    min-height: 620px;
    margin-bottom: 35px;
    margin-right: 35px;
}

.list li:nth-child(2n) {
    margin-right: 0;
}

/*доп обертка для сортировки, каталога и пагинатора*/
.tuning-list {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/*доп обертка для филтра, сортировки,каталога и пагинатора*/
.center {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    
}
 
/*пагинатор*/
.pagination-list ul {
    display: flex;
    outline: 2px solid green;
}




   































