/*GLOBAL*/
body {
    margin: 0;
    padding: 0; 
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    background-color: white;}

img { max-width: 100%;}

/*убираем подчеркивание у ссылок*/
a {text-decoration: none;}

html {box-sizing: border-box;}
::before, *::after {box-sizing: inherit;}

/*прячем ненужные элементы*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;}

/*HEADER*/
/*текст*/
.main-navigator a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: black;}

/*кнопки-ссылки с белым текстом*/
.texts {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color:white;}

/*удаление маркеров и внешних отступов у списков*/
.site-navigation {
    list-style: none;}
.main-navigator ul {
    margin: 0;}

/* SLIDER*/
.advertising-poster {
    background-color: rgb(238,238,238);
    background-image: url("../img/slider1.png");
    background-repeat: no-repeat;}

/*MAIN*/
/*серый фон*/
.main-navigator {
    background: rgb(238,238,238);
}
/*текст*/
.advertising-poster b {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color:black;}

.advertising-poster p {
    color: rgb(40,49,54);}

/*кнопки-ссылки "узнать больше" и "заказать", красный фон*/
.advertising-poster a,
.web-sites a {
    background-color: rgb(251,86,90);}

/*кнопка-ссылка "заказать", зеленый фон*/
.applications a {
    background-color: rgb(0,202,116);}

/*кнопка-ссылка "заказать" белый текст, желтый фон*/
.presentations a {
    background-color: rgb(239,200,74);}

 /*заголовки*/   
.offers h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

/*текст*/
.offers p {
    color: rgb(40,49,54);}

/*удаление маркеров и внешних отступов у списков*/
.offers {
    list-style: none;}
.offers ul {
    margin: 0;}

/*секция "о нас"*/
/*удаление маркеров и внешних отступов у списков*/
.amenities {
    list-style: none;}
.amenities ul {
    margin: 0;}

/*текст*/
.we-studio b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: black;}
    
.principle p {
    color: rgb(40,49,54);}

.order {
    font-weight: 700;
    color: black;}

/*фон nёrd's*/
.picture {
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    width: 360px;
    height: 208px;}

/*С 2004 года любим точность во всем*/
.formula b {
    font-weight: 700;
    color: black;}

/* % % % */
.numbers span {
    font-size: 45px;
    line-height: 10,06px;
    font-weight: 700;
    color: black;}

.numbers p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(40,49,54);}

/*секция Партнеры*/
/*удаление маркеров и внешних отступов у списков*/
.partners {
    list-style: none;}
.partners ul {
    margin: 0;}

/*FOOTER*/
/*текст*/
.address {
    font-style: normal;}

.address b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

.position,
.tel {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(102,102,102);}

/*кнопка-ссылка "напишите нам", красный фон*/
.location a {
    background-color: rgb(251,86,90);}

/*Модальное окно форма*/
.modal {display: none;}
.modal-letter h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: black;
    background-color: white;}
    
.modal-letter label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: black;
    background-color: white;}

/*кнопка-ссылка "отправить", красный фон*/
.letter {
    background-color: rgb(251,86,90);}

/*Див link (мы в сетях)*/
/*удаление маркеров и внешних отступов у списков*/
.link {
    list-style: none;}
.link ul {
    margin: 0;}

.link b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: black;}

.link p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(68,68,68);}




/*СТИЛИ КАТАЛОГА*/
fieldset {
    border: none;}

/*HEADER*/
.under {
    font-size: 32px;
    line-height: 60px;
    font-weight: 500;
    color: black;}

 /*MAIN*/
/*текст бегунка*/
.title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: black;}

.filter-price label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: black;}
 
.list {
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    color: black;}


/*кнопка-ссылка "показать" черный текст, серый фон*/
.filter-view button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color:white;
    background-color: rgb(102,102,102);}

/*сортировать:*/
/*удаление маркеров и внешних отступов у списка*/
.tuning {
    list-style: none;}
.tuning ul {
    margin: 0;}

.tuning ul {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: black;}

/*КАРТОЧКА ТОВАРА*/
/*удаление маркеров и внешних отступов у карточек*/
.list ul {list-style: none;}
.list li {margin: 0;}

.a-img strong {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

.a-img p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(102,102,102);}

/*кнопка-ссылка "9900 руб" белый текст, красный фон*/
.a-img button {
    background-color: rgb(251,86,90);}

/*Пагинатор*/
/*удаление маркеров и внешних отступов у карточек*/
.pagination-list ul {list-style: none;}
.pagination-list li {margin: 0;}

.pagination-list a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: black;
    background-color: rgb(238,238,238);}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: rgb(223,223,223);}

.pagination-item-current a {
    color: black;
    background-color: rgb(213,213,213);}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: rgb(113,113,113);
    background-color: rgb(213,213,213);}









