/*GLOBAL*/
body {
    margin: 0;
    padding: 0; 
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
    background-color: white;
    width: 100%;
    height:auto;
}

img { max-width: 100%;}

/*убираем подчеркивание у ссылок*/
a {text-decoration: none;}

html {box-sizing: border-box;}
::before, *::after {box-sizing: inherit;}

/*прячем ненужные элементы*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;}

/*HEADER*/
/*текст*/
.main-navigator a {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: black;}

/*кнопки-ссылки с белым текстом*/
.texts {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color:white;}

/*удаление маркеров и внешних отступов у списков*/
.site-navigation {
    list-style: none;}

.main-navigator img {
    outline: 2px solid blue;
    margin-top: 53px;
    
}

/*контейнер*/
.main-navigator ul {
    margin-left: 160px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    outline: 2px solid red;
    display: flex;
    flex-wrap:wrap;
    padding: 0;
    width: 800px;
}

.site-navigation li {
    margin-right: 45px;
    margin-top: 80px;
    
}

/*корзина*/
.site-navigation .last {
    margin-left: auto;
    flex-grow: 0;}

/*делаю контейнером все навигационное меню вместе с логотипом*/
.main-navigator {
    background: rgb(238,238,238);
    display: flex;
    outline: 2px solid yellow;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

/*MAIN*/
/* SLIDER*/
.advertising-poster {
    background-color: rgb(238,238,238);
    background-image: url("../img/slider1.png");
    background-repeat: no-repeat;
    background-size: 760px 431px;
    width: 1200px;
    position: relative;
    z-index: 100;
}

.key {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 95px;
    left:50%;
    margin: auto;
    background-color: white;
    border: none;
    border-radius: 50%;
    z-index: 200;
}
   
}
/*текст*/
.advertising-poster b {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color:black;}

.advertising-poster p {
    color: rgb(40,49,54);}

/*кнопки-ссылки "узнать больше" и "заказать", красный фон*/
.advertising-poster a,
.web-sites a {
    background-color: rgb(251,86,90);}

/*кнопка-ссылка "заказать", зеленый фон*/
.applications a {
    background-color: rgb(0,202,116);}

/*кнопка-ссылка "заказать" белый текст, желтый фон*/
.presentations a {
    background-color: rgb(239,200,74);}

 /*заголовки*/   
.offers h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

/*текст*/
.offers p {
    color: rgb(40,49,54);}

/*удаление маркеров и внешних отступов у списков*/
.offers {
    list-style: none;}

.offers ul {
    margin: 0;
     

}

/*секция "о нас"*/
/*удаление маркеров и внешних отступов у списков*/
.amenities {
    list-style: none;}
.amenities ul {
    margin: 0;}

/*текст*/
.we-studio b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: black;}
    
.principle p {
    color: rgb(40,49,54);}

.order {
    font-weight: 700;
    color: black;}

/*фон nёrd's*/
.picture {
    background-image: url("../img/nerds-illustration.png");
    background-repeat: no-repeat;
    background-size: 360px 208px;
    width: 360px;
    height: 208px;}

/*С 2004 года любим точность во всем*/
.formula b {
    font-weight: 700;
    color: black;}

/* % % % */
.numbers span {
    font-size: 45px;
    line-height: 10,06px;
    font-weight: 700;
    color: black;}

.numbers p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(40,49,54);}

/*секция Партнеры*/
/*удаление маркеров и внешних отступов у списков*/
.partners {
    list-style: none;}
.partners ul {
    margin: 0;}

/*FOOTER*/
/*текст*/
.address {
    font-style: normal;}

.address b {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

.position,
.tel {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(102,102,102);}

/*кнопка-ссылка "напишите нам", красный фон*/
.location a {
    background-color: rgb(251,86,90);}

/*Модальное окно форма*/
.modal {display: none;}
.modal-letter h2 {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: black;}
    
.modal-letter label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: black;}

/*кнопка-ссылка "отправить", красный фон*/
.letter {
    background-color: rgb(251,86,90);}

/*Див link (мы в сетях)*/
/*удаление маркеров и внешних отступов у списков*/
.link {
    list-style: none;}
.link ul {
    margin: 0;}

.link b {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: black;}

.link p {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: rgb(68,68,68);}




/*СТИЛИ КАТАЛОГА*/
fieldset {
    border: none;}

/*HEADER*/
.under {
    font-size: 32px;
    line-height: 60px;
    font-weight: 500;
    color: black;}

 /*MAIN*/
/*текст бегунка*/
.title {
    font-size: 16px;
    line-height: 30px;
    font-weight: 500;
    color: black;}

.filter-price label {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: black;}
 
.list {
    font-size: 10px;
    line-height: 16px;
    font-weight: 400;
    color: black;}


/*кнопка-ссылка "показать" черный текст, серый фон*/
.filter-view button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color:white;
    background-color: rgb(102,102,102);}

/*сортировать:*/
/*удаление маркеров и внешних отступов у списка*/
.tuning {
    list-style: none;}
.tuning ul {
    margin: 0;}

.tuning ul {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: black;}

/*КАРТОЧКА ТОВАРА*/
/*удаление маркеров и внешних отступов у карточек*/
.list ul {list-style: none;}
.list li {margin: 0;}

.a-img strong {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: black;}

.a-img p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: rgb(102,102,102);}

/*кнопка-ссылка "9900 руб" белый текст, красный фон*/
.a-img button {
    background-color: rgb(251,86,90);}

/*Пагинатор*/
/*удаление маркеров и внешних отступов у карточек*/
.pagination-list ul {list-style: none;}
.pagination-list li {margin: 0;}

.pagination-list a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: black;
    background-color: rgb(238,238,238);}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: rgb(223,223,223);}

.pagination-item-current a {
    color: black;
    background-color: rgb(213,213,213);}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
    color: rgb(113,113,113);
    background-color: rgb(213,213,213);}




/*РАСПОЛОЖЕНИЕ БЛОКОВ*/


/*MAIN*/
/*видимый слайдер*/
.advertising-poster-1 {
    outline: 2px solid green;
    width: 400px;
}

/*фон слайдера*/
.advertising-poster {
    background-position: left 400px top 0px;
    width: 1200px;
    margin: 0 auto;
    }

/*список с услугами*/
.offers ul {
    display: flex;
    outline: 2px solid black;
    padding: 0;
    justify-content: space-between;
}

/*центруем оставшуюся часть main*/
.midle {
    width: 1200px;
    margin: 0 auto;
}

/*блок "о нас"*/
.amenities ul {
    padding: 0;
    outline: 2px solid violet;   
}

.sign div {
    outline: 2px solid brown;
    text-align: center;
}

.numbers {
    display: flex;
    outline: 2px solid orange;
    justify-content: space-between;
    padding-top: 50px;    
}

/*"о нас" - общий контейнер*/
.about-us {
    display: flex;
    outline: 2px solid green;
    justify-content: space-between;
}

.partners ul {
    display: flex;
    outline: 2px solid red;
    padding: 0;
    justify-content: space-around;
}

/*адрес*/
/*родитель*/
.relative {
    position: relative;
    width: 1440;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 0 auto;
    height: auto;
    min-width: 1200px;
}

.map {
    line-height: 0;
    width: 100%;
    height: auto;
}

.address {
   
    outline: 2px solid brown;
    width: 325px;
    height: 310px;
    text-align: left;
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
  /*позиционирование адресного окна*/ 
    position:absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -882.5px;
    right: 0;   
}

/*мы в сетях - общий блок*/
.link {
    display: flex;
    outline: 2px solid red;
    justify-content: flex-start;
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}


/*КАТАЛОГ*/
/*продолжение фона header*/
.header {
    outline: 2px solid violet;
    background-color: rgb(238,238,238);
    text-align: center;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 55px;
}



/*форма фильтр отдельными блоками*/
.filter-price label {
    display: flex;
    flex-direction:column;
    width: 260px;
    outline: 2px solid blue;

}

.choice {
    display: flex;
    width: 260px;
    outline: 2px solid blue;
    padding: 0;
}

/*форма фильтр общий блок*/
.filter {
    display: flex;
    flex-direction:column;
    width: 260px;
    min-height: 780px;
    outline: 2px solid purple;
    padding: 0;
    margin-right: 140px;
}

.title {
    padding: 0;
}

/*форма tuning*/
.tuning {
    display: flex;
    flex-direction:row;
    outline: 2px solid purple;
    width: 680px;
    padding: 0;
    justify-content: space-between;
    margin-bottom: 55px
}

.grow {
    margin-left: auto;
}

/*сайты*/
.list ul {
    display: flex;
    flex-direction: row;
    outline: 2px solid fuchsia;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    width: 760px
}

.list li {
    width: 360px;
    min-height: 620px;
    margin-bottom: 35px;
    margin-right: 35px;
}

.list li:nth-child(2n) {
    margin-right: 0;
}

/*доп обертка для сортировки, каталога и пагинатора*/
.tuning-list {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/*доп обертка для филтра, сортировки,каталога и пагинатора*/
.center {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    
}
 
/*пагинатор*/
.pagination-list ul {
    display: flex;
    outline: 2px solid green;
}




   































